.page-contents {
    display: flex;
    margin-top: 20px;
}

.main {
    flex:  75%; 
    margin-left: 10px;
    margin-right: 10px;

}

.aside {
    flex:  25%; 
    margin-left: 15px;
    margin-right: 10px;
}
